.our_internship{
    text-align: center;
}
.our_internship p{
    width: 700px;
    display: block;
    margin: auto;
}
.position{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.position_box{
    width: 300px;
    border: 1px solid red;
    padding: 20px;
    margin: 30px;
}